#header {
	
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#title {
	
	margin: 0px;
	border: 0px;
	padding: 0px;
	
	width: 50%;
	
	font-family: Remember Reiner;
	font-size: 48px;
}

#language {
	
	margin: 0px;
	border: 0px;
	padding: 0px;
	
	margin-top: -60px;
	
	float: right;
}



.text-1 {
	
	font-family: Code New Roman;
	font-size: 14px;
}